{% load static %}
<section class="feature-course pt-150 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80">


    <div class="container">
        <div class="row">
           <div class="col-xl-12">
                <div class="section-title text-center mb-50">
                    <h5 class="bottom-line mb-25">دوره های ویژه</h5>
                    <h2>دوره های محبوب ما را کاوش کنید</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 text-center">
                <div class="portfolio-menu mb-30">
                    <button class="gf_btn active" data-filter='*'>همه</button>
                    <button class="gf_btn" data-filter='.cat1'>حرفه</button>
                    <button class="gf_btn" data-filter='.cat2'>توسعه</button>
                    <button class="gf_btn" data-filter='.cat3'>تجاری</button>
                    <button class="gf_btn" data-filter='.cat4'>علم</button>
                    <button class="gf_btn" data-filter='.cat5'>طرح</button>
                </div>
            </div>
        </div>
        <div class="grid row">
            {% for course in courses %}
            <div class="col-lg-4 col-md-6 grid-item cat2 cat3">
                <div class="z-gallery mb-30">
                    <div class="z-gallery__thumb mb-20">
                        <a href="course-details.html"><img class="img-fluid" src="{{course.image.url}}" alt=""></a>
                        <div class="feedback-tag">4.8(256)</div>
                        <div class="heart-icon"><i class="fas fa-heart"></i></div>
                    </div>
                    <div class="z-gallery__content">
                        <div class="course__tag mb-15">
                            <span>علمی</span>
                            <span>آزمون</span>
                            <a class="f-right" href="instructor-details.html"><img src="{% static '' %}assets/img/course/in1.png" alt=""></a>
                        </div>
                        <h4 class="sub-title mb-20"><a href="course-details.html">{{course.title}}</a></h4>
                        <div class="course__meta">
                            <span><img class="icon" src="{% static '' %}assets/img/icon/time.svg" alt="course-meta"> 12 کلاس</span>
                            <span><img class="icon" src="{% static '' %}assets/img/icon/bar-chart.svg" alt="course-meta"> بالاتر</span>
                            <span><img class="icon" src="{% static '' %}assets/img/icon/user.svg" alt="course-meta"> 6395+</span>
                            <span>تومان{{course.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
             <div class="col-lg-12 mt-20 text-center mb-20 wow fadeInUp2 animated" data-wow-delay='.3s'>
                <a href="courses.html" class="theme_btn">همه دسته بندی ها</a>
            </div>
        </div>
    </div>
</section>

