{% extends 'shared/HomeBase.html' %}

{% block title %}  {% endblock %}
{% block keyword %} {% endblock keyword %}
{% block description %} {% endblock description %}

{% block header %} {% include 'shared/header.html' %} {% endblock header %}
{% block navbar %} {% include 'shared/navbar.html' %} {% endblock navbar %}
{% block content %}



<h1>Courses</h1>

{% for course in courses %}
    {{ course.title }}
    {{ course.description }}
    <img src="{{ course.image.url }}" alt="" width="100px" height="100px">
{% endfor %}


{% endblock %}
{% block footer %} {% include 'shared/footer.html' %} {% endblock %}