{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="pt-130">
        <main>
            <!--page-title-area start-->
            <section class="page-title-area d-flex align-items-end"
                     style="background-image: url({% static '' %}assets/img/page-title-bg/01.jpg);">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-lg-12">
                            <div class="page-title-wrapper mb-50">
                                <h1 class="page-title mb-25">وبلاگ</h1>
                                <div class="breadcrumb-list">
                                    <ul class="breadcrumb">
                                        <li><a href="index.html">خانه - صفحات -</a></li>
                                        <li><a href="#">وبلاگ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="main-slider pt-10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 order-last order-lg-first">

                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="slider__content pt-15">

                                <h5 class="mb-35 wow fadeInUp2 animated" data-wow-delay='.2s'>مقالات مورد نظرتان رو
                                    جستجو کنید</h5>
                                <ul class="search__area d-md-inline-flex align-items-center justify-content-between mb-30 wow fadeInUp animated"
                                    data-delay="1.5s">
                                    <li>
                                        <div class="widget__search">
                                            <form id="searchForm" class="input-form" action="{% url 'blog:all_blog' %}"
                                                  method="get">
                                                <input type="text" placeholder="عنوان مورد نظر..."
                                                       name="search_query"
                                                       value="{{ search_query }}">
                                            </form>
                                            <button class="search-icon"><i class="far fa-search"></i></button>
                                        </div>
                                    </li>
                                    {#                                    <li>#}
                                    {#                                        <input class="theme_btn search_btn ml-35" type="submit" value="جستجو">#}
                                    {#                                    </li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="blog-area">
                <div class="blog-bg pt-150 pb-120 pt-md-100 pb-md-70 pt-xs-100 pb-xs-70">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="section-title text-center mb-60">
                                    <h3 class="mb-25">مقالات در دسترس  ( {{ count_article }} پست )</h3>
                                </div>
                            </div>
                        </div>
                        {% if the_articles %}
                            <div class="row">
                                {% for article in the_articles %}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="z-blogs mb-30">
                                            <div class="z-blogs__thumb mb-30">
                                                <a href="{% url 'blog:article_detail' article.slug %}"><img
                                                        src="{{ article.thumbnail.url }}" alt="blog-img"></a>
                                            </div>
                                            <div class="z-blogs__content">
                                                <h5 class="mb-25">
                                                    {#  {% for cat in articles.category_published %}#}
                                                    {#   <a href="{% url 'blog:category' cat.slug %}">#{{ cat.title }}</a>#}
                                                    {#     {% endfor %}#}
                                                </h5>
                                                <h4 class="sub-title mb-15"><a
                                                        href="{% url 'blog:article_detail' article.slug %}">{{ article.title }}</a>
                                                </h4>
                                                <div class="z-blogs__meta d-sm-flex justify-content-between pt-20">
                                                    <span>تاریخ : {{ article.get_persian_date }}</span>
                                                    <span>توسط مدیریت</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h3 class="mb-35 wow fadeInUp2 animated" data-wow-delay='.2s'> {{ search_query }} چیزی با این عنوان یافت نشد 😵 </h3>
                        {% endif %}
                        {% include 'Shared/pagination.html' with queryset=the_articles custom_range=custom_range %}
                    </div>
                </div>
            </section>
        </main>
    </div>

{% endblock content %}