{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pt-130">
<main>
     <!--page-title-area start-->
      <section class="page-title-area d-flex align-items-end" style="background-image: url({% static '' %}assets/img/page-title-bg/01.jpg);">
          <div class="container">
              <div class="row align-items-end">
                  <div class="col-lg-12">
                      <div class="page-title-wrapper mb-50">
                         <h1 class="page-title mb-25">جزئیات مقاله</h1>
                         <div class="breadcrumb-list">
                            <ul class="breadcrumb">
                                <li><a href="{% url 'blog:all_blog' %}">همه ی مقالات</a></li>

                            </ul>
                         </div>
                    </div>
                  </div>
              </div>
          </div>
      </section>
      <!--page-title-area end-->
      <!-- blog-details-area start -->
        <section class="blog-details-area pt-150 pb-105 pt-md-100 pb-md-55 pt-xs-100 pb-xs-55">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details-box mb-45">
                            <h2>{{ article_detail.title}}</h2>
                            <ul class="blogs__meta mb-30">
                               <li><span class="blog-author">توسط مدیریت</span></li>
                               <li><span><img src="{% static '' %}assets/img/icon/material-date-range.svg" alt="mate-date"> {{ article_detail.get_persian_date}}</span></li>
                            </ul>
                            <img class="img-fluid blog-details-img mb-35" src="{{ article_detail.thumbnail.url }}">
                            <h3 class="blog-details-title mb-30">{{ article_detail.title }}</h3>

                        </div>

                        <div class="blog-details-text mb-30">
                            <p> {{ article_detail.description }} </p>
                        </div>
                        <div class="blog-details-text row gx-2 mb-45">
                        </div>


                        <div class="row">
{#                            <div class="col-lg-12 text-center mb-40">#}
{#                                <button class="theme_btn comment_btn">مشاهده نظرات (05)</button>#}
{#                            </div>#}
                        </div>
                        <div class="comments-area">
                            <ul class="latest-commmnet">
                                <li>
                                    <div class="single-comments mb-30">
                                        <div class="comments__author">
                                            <img src="{% static '' %}assets/img/blog/comment/01.jpg" alt="">
                                        </div>
                                        <div class="comments__text">
                                            <h4 class="sub-title mb-10">جان دی <span class="float-end date-text">2 دی 1400</span></h4>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. ک.</p>
                                            <a href="#" class="reply mt-10">پاسخ</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="comments-form-area mb-45">
                            <h2>ارسال نظر</h2>
                            <form action="#" class="row comments-form">
                                <div class="col-lg-6 mb-20">
                                    <input type="text" placeholder="نام">
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <input type="text" placeholder="ایمیل">
                                </div>
                                <div class="col-lg-12 mb-20">
                                    <textarea name="commnent" id="commnent" cols="30" rows="10" placeholder="نظر شما"></textarea>
                                </div>
                            </form>
                            <button class="theme_btn comment_btn">ارسال نظر</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
</div>
{% endblock content %}