{% load static %}
{% block content %}
<main>
       <!--slider-area start-->
       <section class="slider-area pt-180 pt-xs-150 pt-150 pb-xs-35">
           <img class="sl-shape shape_01" src="{% static '' %}assets/img/icon/01.svg" alt="">
            <img class="sl-shape shape_02" src="{% static '' %}assets/img/icon/02.svg" alt="">
            <img class="sl-shape shape_03" src="{% static '' %}assets/img/icon/03.svg" alt="">
            <img class="sl-shape shape_04" src="{% static '' %}assets/img/icon/04.svg" alt="">
            <img class="sl-shape shape_05" src="{% static '' %}assets/img/icon/05.svg" alt="">
            <img class="sl-shape shape_06" src="{% static '' %}assets/img/icon/06.svg" alt="">
            <img class="sl-shape shape_07" src="{% static '' %}assets/img/shape/dot-box-5.svg" alt="">
           <div class="main-slider pt-10">
               <div class="container">
                   <div class="row align-items-center">
                       <div class="col-xl-6 col-lg-6 order-last order-lg-first">
                           <div class="slider__img__box mb-50 pr-30">
                               <img class="img-one mt-55 pr-70" src="{% static '' %}assets/img/slider/01.png" alt="">
                               <img class="slide-shape img-two" src="{% static '' %}assets/img/slider/02.png" alt="">
                               <img class="slide-shape img-three" src="{% static '' %}assets/img/slider/03.png" alt="">
                               <img class="slide-shape img-four" src="{% static '' %}assets/img/shape/dot-box-1.svg" alt="">
                               <img class="slide-shape img-five" src="{% static '' %}assets/img/shape/dot-box-2.svg" alt="">
                               <img class="slide-shape img-six" src="{% static '' %}assets/img/shape/zigzg-1.svg" alt="">
                               <img class="slide-shape img-seven wow fadeInRight animated" data-delay="1.5s" src="{% static '' %}assets/img/icon/dot-plan-1.svg" alt="Chose-img">
                               <img class="slide-shape img-eight" src="{% static '' %}assets/img/slider/earth-bg.svg" alt="">
                           </div>
                       </div>
                       <div class="col-xl-6 col-lg-6">
                            <div class="slider__content pt-15">
                                <h1 class="main-title mb-40 wow fadeInUp2 animated" data-wow-delay='.1s'>آموزش مهارت های مختلف با بهترین <span class="vec-shape">اساتید.</span></h1>
                                <h5 class="mb-35 wow fadeInUp2 animated" data-wow-delay='.2s'>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h5>
                                <ul class="search__area d-md-inline-flex align-items-center justify-content-between mb-30">
                                    <li>
                                        <div class="widget__search">
                                            <form class="input-form" action="#">
                                                <input type="text" placeholder="جستجو...">
                                            </form>
                                            <button class="search-icon"><i class="far fa-search"></i></button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="widget__select">
                                            <select name="select-cat" id="select">
                                                <option value="">دسته بندی ها</option>
                                                <option value="">کلاس یک</option>
                                                <option value="">کلاس دو</option>
                                                <option value="">کلاس سه</option>
                                                <option value="">کلاس چهار</option>
                                                <option value="">کلاس پنج</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="theme_btn search_btn ml-35">جستجو</button>
                                    </li>
                                </ul>
                                <p class="highlight-text"><span>#1 </span>بستر یادگیری آنلاین و توسعه مهارت ها در سراسر جهان</p>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!--slider-area end-->
       <!--great-deal-area start-->
       <section class="great-deal-area pt-150 pb-90 pt-md-100 pb-md-40 pt-xs-100 pb-xs-40">
           <div class="container">
               <div class="row justify-content-lg-center justify-content-start">
                   <div class="col-xl-3 col-lg-8">
                       <div class="deal-box mb-30 text-center text-xl-start">
                           <h2 class="mb-20"><b>تخفیف</b> ویژه شما</h2>
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                       </div>
                   </div>
                   <div class="col-xl-8">
                       <div class="deal-active owl-carousel mb-30">
                            <div class="single-item">
                                <div class="single-box mb-30">
                                    <div class="single-box__icon mb-25">
                                        <img src="{% static '' %}assets/img/icon/puzzle.svg" alt="">
                                    </div>
                                    <h4 class="sub-title mb-20">یادگیری مهارت جدید</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="single-box s-box2 mb-30">
                                    <div class="single-box__icon mb-25">
                                        <img src="{% static '' %}assets/img/icon/manager.svg" alt="">
                                    </div>
                                    <h4 class="sub-title mb-20">مربیان خبره</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="single-box s-box3 mb-30">
                                    <div class="single-box__icon mb-25">
                                        <img src="{% static '' %}assets/img/icon/notepad.svg" alt="">
                                    </div>
                                    <h4 class="sub-title mb-20">درس آزمایشی رایگان</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="single-box mb-30">
                                    <div class="single-box__icon mb-25">
                                        <img src="{% static '' %}assets/img/icon/puzzle.svg" alt="">
                                    </div>
                                    <h4 class="sub-title mb-20">یادگیری مهارت جدید</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="single-box s-box2 mb-30">
                                    <div class="single-box__icon mb-25">
                                        <img src="{% static '' %}assets/img/icon/manager.svg" alt="">
                                    </div>
                                    <h4 class="sub-title mb-20">مربیان خبره</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                                </div>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!--great-deal-area end-->
       <!--what-loking-for start-->
       <section class="what-looking-for pos-rel">
           <div class="what-blur-shape-one"></div>
           <div class="what-blur-shape-two"></div>
           <div class="what-look-bg gradient-bg pt-145 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="section-title text-center mb-55">
                                <h5 class="bottom-line mb-25">معلمان و دانش آموزان</h5>
                                <h2>دنبال چه می گردی؟</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-85">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="what-box text-center mb-35 wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <div class="what-box__icon mb-30">
                                    <img src="{% static '' %}assets/img/icon/phone-operator.svg" alt="">
                                </div>
                                <h3>میخوای اینجا تدریس کنی؟</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                <a href="contact.html" class="theme_btn border_btn">ثبت نام</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="what-box text-center mb-35 wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <div class="what-box__icon mb-30">
                                    <img src="{% static '' %}assets/img/icon/graduate.svg" alt="">
                                </div>
                                <h3>آیا می خواهید اینجا یاد بگیرید؟</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                <a href="contact.html" class="theme_btn border_btn active">ثبت نام</a>
                            </div>
                        </div>
                    </div>
                    <div class="categoris-container">
                        <div class="col-xl-12">
                            <div class="section-title text-center mb-55">
                                <h5 class="bottom-line mb-25">دسته بندی ها</h5>
                                <h2>موضوعات آنلاین ما را کاوش کنید</h2>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-5">
                            <div class="col">
                                <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                    <img class="mb-30" src="{% static '' %}assets/img/category-icon/atom.svg" alt="">
                                    <h4 class="sub-title mb-10"><a href="course-details.html">علم</a></h4>
                                    <p>126+ دوره در دسترس</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.2s'>
                                    <img class="mb-30" src="{% static '' %}assets/img/category-icon/web-development.svg" alt="">
                                    <h4 class="sub-title mb-10"><a href="course-details.html">توسعه</a></h4>
                                    <p>325+ دوره در دسترس</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <img class="mb-30" src="{% static '' %}assets/img/category-icon/atom.svg" alt="">
                                    <h4 class="sub-title mb-10"><a href="course-details.html">علم</a></h4>
                                    <p>95+ دوره در دسترس</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.4s'>
                                    <img class="mb-30" src="{% static '' %}assets/img/category-icon/career-path.svg" alt="">
                                    <h4 class="sub-title mb-10"><a href="course-details.html">حرفه</a></h4>
                                    <p>156+ دوره در دسترس</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.5s'>
                                    <img class="mb-30" src="{% static '' %}assets/img/category-icon/graphic-tool.svg" alt="">
                                    <h4 class="sub-title mb-10"><a href="course-details.html">هنر و طراحی</a></h4>
                                    <p>136+ دوره در دسترس</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-20 text-center mb-20 wow fadeInUp2 animated" data-wow-delay='.6s'>
                                <a href="courses.html" class="theme_btn">همه دسته بندی ها</a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </section>
       <!--what-loking-for end-->
        <!-- case-gallery start -->
        <section class="feature-course pt-150 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80">
            <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                        <div class="section-title text-center mb-50">
                            <h5 class="bottom-line mb-25">دوره های ویژه</h5>
                            <h2>دوره های محبوب ما را کاوش کنید</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-12 text-center">
                        <div class="portfolio-menu mb-30">
                            <button class="gf_btn active" data-filter='*'>همه</button>
                            <button class="gf_btn" data-filter='.cat1'>حرفه</button>
                            <button class="gf_btn" data-filter='.cat2'>توسعه</button>
                            <button class="gf_btn" data-filter='.cat3'>تجاری</button>
                            <button class="gf_btn" data-filter='.cat4'>علم</button>
                            <button class="gf_btn" data-filter='.cat5'>طرح</button>
                        </div>
                    </div>
                </div>
                <div class="grid row">
                    <div class="col-lg-4 col-md-6 grid-item cat2 cat3">
                        <div class="z-gallery mb-30">
                            <div class="z-gallery__thumb mb-20">
                                <a href="course-details.html"><img class="img-fluid" src="{% static '' %}assets/img/course/01.png" alt=""></a>
                                <div class="feedback-tag">4.8(256)</div>
                                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="z-gallery__content">
                                <div class="course__tag mb-15">
                                    <span>علمی</span>
                                    <span>آزمون</span>
                                    <a class="f-right" href="instructor-details.html"><img src="{% static '' %}assets/img/course/in1.png" alt=""></a>
                                </div>
                                <h4 class="sub-title mb-20"><a href="course-details.html">شغل خود را به سطح بعدی آینده ببرید</a></h4>
                                <div class="course__meta">
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/time.svg" alt="course-meta"> 12 کلاس</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/bar-chart.svg" alt="course-meta"> بالاتر</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/user.svg" alt="course-meta"> 6395+</span>
                                    <span>ت260</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat1 cat3 cat4">
                       <div class="z-gallery mb-30">
                            <div class="z-gallery__thumb mb-20">
                                <a href="course-details.html"><img class="img-fluid" src="{% static '' %}assets/img/course/02.png" alt=""></a>
                                <div class="feedback-tag">4.8(256)</div>
                                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="z-gallery__content">
                                <div class="course__tag mb-15">
                                    <span>علمی</span>
                                    <span>آزمون</span>
                                    <a class="f-right" href="instructor-details.html"><img src="{% static '' %}assets/img/course/in2.png" alt=""></a>
                                </div>
                                <h4 class="sub-title mb-20"><a href="course-details.html">حرفه شما برای ساختن برای سطح حرفه ای</a></h4>
                                <div class="course__meta">
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/time.svg" alt="course-meta"> 12 کلاس</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/bar-chart.svg" alt="course-meta"> بالاتر</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/user.svg" alt="course-meta"> 6395+</span>
                                    <span>ت260</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat2 cat1 cat5">
                        <div class="z-gallery mb-30">
                            <div class="z-gallery__thumb mb-20">
                                <a href="course-details.html"><img class="img-fluid" src="{% static '' %}assets/img/course/03.png" alt=""></a>
                                <div class="feedback-tag">4.8(256)</div>
                                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="z-gallery__content">
                                <div class="course__tag mb-15">
                                    <span>علمی</span>
                                    <span>آزمون</span>
                                    <a class="f-right" href="instructor-details.html"><img src="{% static '' %}assets/img/course/in3.png" alt=""></a>
                                </div>
                                <h4 class="sub-title mb-20"><a href="course-details.html">دوره ای برای آینده روشن خود بگذرانید</a></h4>
                                <div class="course__meta">
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/time.svg" alt="course-meta"> 12 کلاس</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/bar-chart.svg" alt="course-meta"> بالاتر</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/user.svg" alt="course-meta"> 6395+</span>
                                    <span>ت260</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat2 cat3">
                        <div class="z-gallery mb-30">
                            <div class="z-gallery__thumb mb-20">
                                <a href="course-details.html"><img class="img-fluid" src="{% static '' %}assets/img/course/04.png" alt=""></a>
                                <div class="feedback-tag">4.8(256)</div>
                                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="z-gallery__content">
                                <div class="course__tag mb-15">
                                    <span>علمی</span>
                                    <span>آزمون</span>
                                    <a class="f-right" href="instructor-details.html"><img src="{% static '' %}assets/img/course/in4.png" alt=""></a>
                                </div>
                                <h4 class="sub-title mb-20"><a href="course-details.html">شغل خود را به سطح بعدی آینده ببرید</a></h4>
                                <div class="course__meta">
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/time.svg" alt="course-meta"> 12 کلاس</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/bar-chart.svg" alt="course-meta"> بالاتر</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/user.svg" alt="course-meta"> 6395+</span>
                                    <span>ت260</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat5 cat4">
                        <div class="z-gallery mb-30">
                            <div class="z-gallery__thumb mb-20">
                                <a href="course-details.html"><img class="img-fluid" src="{% static '' %}assets/img/course/05.png" alt=""></a>
                                <div class="feedback-tag">4.8(256)</div>
                                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="z-gallery__content">
                                <div class="course__tag mb-15">
                                    <span>علمی</span>
                                    <span>آزمون</span>
                                    <a class="f-right" href="instructor-details.html"><img src="{% static '' %}assets/img/course/in5.png" alt=""></a>
                                </div>
                                <h4 class="sub-title mb-20"><a href="course-details.html">حرفه شما برای ساختن برای سطح حرفه ای</a></h4>
                                <div class="course__meta">
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/time.svg" alt="course-meta"> 12 کلاس</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/bar-chart.svg" alt="course-meta"> بالاتر</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/user.svg" alt="course-meta"> 6395+</span>
                                    <span>ت260</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item cat3 cat1">
                        <div class="z-gallery mb-30">
                            <div class="z-gallery__thumb mb-20">
                                <a href="course-details.html"><img class="img-fluid" src="{% static '' %}assets/img/course/06.png" alt=""></a>
                                <div class="feedback-tag">4.8(256)</div>
                                <div class="heart-icon"><i class="fas fa-heart"></i></div>
                            </div>
                            <div class="z-gallery__content">
                                <div class="course__tag mb-15">
                                    <span>علمی</span>
                                    <span>آزمون</span>
                                    <a class="f-right" href="instructor-details.html"><img src="{% static '' %}assets/img/course/in6.png" alt=""></a>
                                </div>
                                <h4 class="sub-title mb-20"><a href="course-details.html">دوره ای برای آینده روشن خود بگذرانید</a></h4>
                                <div class="course__meta">
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/time.svg" alt="course-meta"> 12 کلاس</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/bar-chart.svg" alt="course-meta"> بالاتر</span>
                                    <span><img class="icon" src="{% static '' %}assets/img/icon/user.svg" alt="course-meta"> 6395+</span>
                                    <span>ت260</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-12 mt-20 text-center mb-20 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <a href="courses.html" class="theme_btn">همه دسته بندی ها</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- case-gallery end -->
        <!-- why-chose-section-wrapper start -->
        <div class="why-chose-section-wrapper gradient-bg mr-100 ml-100">
            <!-- why-chose-us start -->
            <section class="why-chose-us">
                <div class="why-chose-us-bg pt-150 pb-175 pt-md-95 pb-md-90 pt-xs-95 pb-xs-90">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-7">
                                <div class="chose-img-wrapper mb-50 pos-rel">
                                    <div class="coures-member">
                                        <h5>کل دانش آموزان</h5>
                                        <img class="choses chose_01" src="{% static '' %}assets/img/chose/01.png" alt="Chose-img">
                                        <img class="choses chose_02" src="{% static '' %}assets/img/chose/02.png" alt="Chose-img">
                                        <img class="choses chose_03" src="{% static '' %}assets/img/chose/03.png" alt="Chose-img">
                                        <img class="choses chose_04" src="{% static '' %}assets/img/chose/04.png" alt="Chose-img">
                                        <span>25k+</span>
                                    </div>
                                    <div class="feature tag_01"><span><img src="{% static '' %}assets/img/icon/shield-check.svg" alt=""></span> امن و دقیق</div>
                                    <div class="feature tag_02"><span><img src="{% static '' %}assets/img/icon/catalog.svg" alt=""></span> 120+ کاتالوگ</div>
                                    <div class="feature tag_03"><span><i class="fal fa-check"></i></span> آموزش با کیفیت</div>
                                    <div class="video-wrapper">
                                        <a href="https://www.youtube.com/watch?v=7omGYwdcS04" class="popup-video"><i class="fas fa-play"></i></a>
                                    </div>
                                    <div class="img-bg pos-rel">
                                        <img class="chose_05 pl-70 pl-lg-0 pl-md-0 pl-xs-0" src="{% static '' %}assets/img/chose/05.png" alt="Chose-img">
                                    </div>
                                    <img class="chose chose_06" src="{% static '' %}assets/img/shape/dot-box3.svg" alt="Chose-img">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="chose-wrapper pl-25 pl-lg-0 pl-md-0 pl-xs-0">
                                    <div class="section-title mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                        <h5 class="bottom-line mb-25">کاوش زومی</h5>
                                        <h2 class="mb-25">چرا انتخاب ما؟</h2>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                                    </div>
                                    <ul class="text-list mb-40 wow fadeInUp2 animated" data-wow-delay='.2s'>
                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</li>
                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</li>
                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</li>
                                    </ul>
                                    <a href="about.html" class="theme_btn wow fadeInUp2 animated" data-wow-delay='.3s'>جزئیات بیشتر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- why-chose-us end -->
            <!-- course-instructor start -->
            <section class="course-instructor nav-style-two pos-rel">
                <div class="course-blur-shape"></div>
                <div class="course-bg-space pt-150 pb-120 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-9">
                                <div class="section-title text-center text-md-start mb-60">
                                    <h5 class="bottom-line mb-25">مربی ما</h5>
                                    <h2 class="mb-25">کاوش مربی با تجربه</h2>
                                </div>
                            </div>
                        </div>
                        <div class="instructor-active owl-carousel">
                            <div class="item">
                                <div class="z-instructors text-center mb-30">
                                    <div class="z-instructors__thumb mb-15">
                                        <img src="{% static '' %}assets/img/instructor/01.jpg" alt="">
                                        <div class="social-media">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="z-instructors__content">
                                        <h4 class="sub-title mb-10"><a href="instructor-profile.html">جان زلاتان</a></h4>
                                        <p>توسعه نرم افزار</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="z-instructors text-center mb-30">
                                    <div class="z-instructors__thumb mb-15">
                                        <img src="{% static '' %}assets/img/instructor/02.jpg" alt="">
                                        <div class="social-media">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="z-instructors__content">
                                        <h4 class="sub-title mb-10"><a href="instructor-profile.html">مالی یان</a></h4>
                                        <p>طراح</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="z-instructors text-center mb-30">
                                    <div class="z-instructors__thumb mb-15">
                                        <img src="{% static '' %}assets/img/instructor/03.jpg" alt="">
                                        <div class="social-media">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="z-instructors__content">
                                        <h4 class="sub-title mb-10"><a href="instructor-profile.html">مسعود لامب</a></h4>
                                        <p>برنامه نویس</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="z-instructors text-center mb-30">
                                    <div class="z-instructors__thumb mb-15">
                                        <img src="{% static '' %}assets/img/instructor/04.jpg" alt="">
                                        <div class="social-media">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="z-instructors__content">
                                        <h4 class="sub-title mb-10"><a href="instructor-profile.html">هاوانا لیون</a></h4>
                                        <p>بازاریابی دیجیتال</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="z-instructors text-center mb-30">
                                    <div class="z-instructors__thumb mb-15">
                                        <img src="{% static '' %}assets/img/instructor/01.jpg" alt="">
                                        <div class="social-media">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="z-instructors__content">
                                        <h4 class="sub-title mb-10"><a href="instructor-profile.html">جان زلاتان</a></h4>
                                        <p>توسعه نرم افزار</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="z-instructors text-center mb-30">
                                    <div class="z-instructors__thumb mb-15">
                                        <img src="{% static '' %}assets/img/instructor/02.jpg" alt="">
                                        <div class="social-media">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="z-instructors__content">
                                        <h4 class="sub-title mb-10"><a href="instructor-profile.html">مالی یان</a></h4>
                                        <p>طراح</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- course-instructor end -->
        </div>
        <!-- why-chose-section-wrapper start -->
        <!-- testimonial-area start -->
        <section class="testimonial-area testimonial-pad pt-150 pb-120 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70">
            <div class="container custom-container-testimonial">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center text-md-start mb-35">
                            <h5 class="bottom-line mb-25">مربی ما</h5>
                            <h2 class="mb-25">کاوش مربی با تجربه</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center text-lg-end">
                        <a href="instructor.html" class="theme_btn">خواندن همه</a>
                    </div>
                </div>
                <div class="row testimonial-active-01">
                    <div class="col-xl-3">
                        <div class="item">
                        <div class="testimonial-wrapper mb-30">
                            <div class="testimonial-authors overflow-hidden mb-15">
                                <div class="testimonial-authors__avatar">
                                      <img  src="{% static '' %}assets/img/testimonial/01.png" alt="testi-author">
                                </div>
                                <div class="testimonial-authors__content mt-10">
                                    <h4 class="sub-title">جورجیا لیلا</h4>
                                    <p>توسعه دهنده </p>
                                </div>
                            </div>
                            <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            <div class="quote-icon mt-20">
                                <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xl-3">
                         <div class="item">
                            <div class="testimonial-wrapper mb-30">
                                <div class="testimonial-authors overflow-hidden mb-15">
                                    <div class="testimonial-authors__avatar">
                                        <img  src="{% static '' %}assets/img/testimonial/02.png" alt="testi-author">
                                    </div>
                                    <div class="testimonial-authors__content mt-10">
                                        <h4 class="sub-title">جان دی</h4>
                                        <p>رابط کاربری</p>
                                    </div>
                                </div>
                                <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <div class="quote-icon mt-20">
                                    <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="item">
                            <div class="testimonial-wrapper mb-30">
                                <div class="testimonial-authors overflow-hidden mb-15">
                                    <div class="testimonial-authors__avatar">
                                        <img  src="{% static '' %}assets/img/testimonial/03.png" alt="testi-author">
                                    </div>
                                    <div class="testimonial-authors__content mt-10">
                                        <h4 class="sub-title">مایکل جورج</h4>
                                        <p>نویسنده محتوا</p>
                                    </div>
                                </div>
                                <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <div class="quote-icon mt-20">
                                    <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                         <div class="item">
                            <div class="testimonial-wrapper mb-30">
                                <div class="testimonial-authors overflow-hidden mb-15">
                                    <div class="testimonial-authors__avatar">
                                        <img  src="{% static '' %}assets/img/testimonial/01.png" alt="testi-author">
                                    </div>
                                    <div class="testimonial-authors__content mt-10">
                                        <h4 class="sub-title">جورجیا لیلا</h4>
                                        <p>توسعه دهنده </p>
                                    </div>
                                </div>
                                <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <div class="quote-icon mt-20">
                                    <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-area end -->
        <!-- blog-area start -->
        <section class="blog-area mr-100 ml-100">
            <div class="blog-bg gradient-bg pl-100 pr-100 pt-150 pb-120 pt-md-100 pb-md-70 pt-xs-100 pb-xs-70">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="section-title text-center mb-60">
                                <h5 class="bottom-line mb-25">آخرین خبرها</h5>
                                <h2 class="mb-25">آخرین اخبار و آموزش های ما</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="z-blogs mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <div class="z-blogs__thumb mb-30">
                                <a href="blog-details.html"><img src="{% static '' %}assets/img/blog/01.jpg" alt="blog-img"></a>
                                </div>
                                <div class="z-blogs__content">
                                    <h5 class="mb-25">برخط . مدرسه . مهارت</h5>
                                    <h4 class="sub-title mb-15"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></h4>
                                    <div class="z-blogs__meta d-sm-flex justify-content-between pt-20">
                                        <span>تاریخ : 2 دی 1400</span>
                                        <span>توسط مدیریت</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="z-blogs mb-30 wow fadeInUp2 animated" data-wow-delay='.2s'>
                                <div class="z-blogs__thumb mb-30">
                                <a href="blog-details.html"><img src="{% static '' %}assets/img/blog/02.jpg" alt="blog-img"></a>
                                </div>
                                <div class="z-blogs__content">
                                    <h5 class="mb-25">تحصیلات . کارشناس</h5>
                                    <h4 class="sub-title mb-15"><a href="blog-details.html">4 ویژگی جدید زوم، آموزش و یادگیری مجازی را بهبود می بخشد</a></h4>
                                    <div class="z-blogs__meta d-sm-flex justify-content-between pt-20">
                                        <span>تاریخ : 2 دی 1400</span>
                                        <span>توسط مدیریت</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="z-blogs mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <div class="z-blogs__thumb mb-30">
                                <a href="blog-details.html"><img src="{% static '' %}assets/img/blog/03.jpg" alt="blog-img"></a>
                                </div>
                                <div class="z-blogs__content">
                                    <h5 class="mb-25">خلاق . برنامه نویس</h5>
                                    <h4 class="sub-title mb-15"><a href="blog-details.html">استفاده از رسانه های اجتماعی برای حمایت از آموزش آنلاین</a></h4>
                                    <div class="z-blogs__meta d-sm-flex justify-content-between pt-20">
                                        <span>تاریخ : 2 دی 1400</span>
                                        <span>توسط مدیریت</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center mt-20 mb-30 wow fadeInUp2 animated" data-wow-delay='.4s'>
                            <a href="blog-details.html" class="theme_btn">بارگذاری بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area end -->
        <!-- subscribe-area start -->
        <section class="subscribe-area border-bot pt-145 pb-50 pt-md-90 pt-xs-90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="subscribe-wrapper text-center mb-30">
                            <h2>در خبرنامه ما مشترک شوید و همه به روز رسانی ها را دریافت کنید.</h2>
                           <div class="subscribe-form-box pos-rel">
                                <form class="subscribe-form">
                                    <input type="text" placeholder="ایمیل شما">
                                </form>
                                <button class="sub_btn">اشتراک</button>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribe-area end -->
    </main>
{% endblock content %}