{% load static %}

<!-- JS here -->
<script src="{% static '' %}assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="{% static '' %}assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="{% static '' %}assets/js/popper.min.js"></script>
<script src="{% static '' %}assets/js/bootstrap.min.js"></script>
<script src="{% static '' %}assets/js/owl.carousel.min.js"></script>
<script src="{% static '' %}assets/js/isotope.pkgd.min.js"></script>
<script src="{% static '' %}assets/js/slick.min.js"></script>
<script src="{% static '' %}assets/js/metisMenu.min.js"></script>
<script src="{% static '' %}assets/js/jquery.nice-select.js"></script>
<script src="{% static '' %}assets/js/ajax-form.js"></script>
<script src="{% static '' %}assets/js/wow.min.js"></script>
<script src="{% static '' %}assets/js/jquery.counterup.min.js"></script>
<script src="{% static '' %}assets/js/waypoints.min.js"></script>
<script src="{% static '' %}assets/js/jquery.scrollUp.min.js"></script>
<script src="{% static '' %}assets/js/imagesloaded.pkgd.min.js"></script>
<script src="{% static '' %}assets/js/jquery.magnific-popup.min.js"></script>
<script src="{% static '' %}assets/js/jquery.easypiechart.js"></script>
<script src="{% static '' %}assets/js/plugins.js"></script>
<script src="{% static '' %}assets/js/main.js"></script>

<!-- alertify -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    alertify.set('notifier','position', 'bottom-right');
    {% for msg in messages %}
        alertify.success('{{ msg }}');
    {% endfor %}
</script>