{% load static %}
{% block footer %}
    <!-- subscribe-area start -->
<section class="subscribe-area border-bot pt-145 pb-50 pt-md-90 pt-xs-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="subscribe-wrapper text-center mb-30">
                    <h2>در خبرنامه ما مشترک شوید و همه به روز رسانی ها را دریافت کنید.</h2>
                   <div class="subscribe-form-box pos-rel">
                        <form class="subscribe-form">
                            <input type="text" placeholder="ایمیل شما">
                        </form>
                        <button class="sub_btn">اشتراک</button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe-area end -->
  <!--footer-area start-->
    <footer class="footer-area pt-70 pb-40">
        <div class="container">
            <div class="row mb-15">
                <div class="col-xl-3 col-lg-4 col-md-6  wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <div class="footer__widget mb-30">
                        <div class="footer-log mb-20">
                            <a href="index.html" class="logo">
                                <img src="{% static '' %}assets/img/logo/header_logo_one.svg" alt="">
                            </a>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        <div class="social-media footer__social mt-30">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay='.3s'>
                    <div class="footer__widget mb-30 pl-40 pl-md-0 pl-xs-0">
                        <h6 class="widget-title mb-35">تماس</h6>
                        <ul class="fot-list">
                            <li><a href="#">info@example.com</a></li>
                            <li><a href="#">+00 235 695 58</a></li>
                            <li><a href="#">شرایط و ضوابط</a></li>
                            <li><a href="#">حریم خصوصی</a></li>
                            <li><a href="contact.html">تماس</a></li>
                            <li><a href="#">مشاغل</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6  wow fadeInUp2 animated" data-wow-delay='.5s'>
                    <div class="footer__widget mb-25 pl-90 pl-md-0 pl-xs-0">
                        <h6 class="widget-title mb-35">لینک های سریع</h6>
                        <ul class="fot-list">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="#">صفحات</a></li>
                            <li><a href="#">خدمات ما</a></li>
                            <li><a href="#">مقاصد</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6  wow fadeInUp2 animated" data-wow-delay='.7s'>
                    <div class="footer__widget mb-30 pl-150 pl-lg-0 pl-md-0 pl-xs-0">
                        <h6 class="widget-title mb-35">ویژگی ها</h6>
                        <ul class="fot-list mb-30">
                            <li><a href="index.html">صفحه خانه</a> </li>
                            <li><a href="#">نظر مشتری</a></li>
                            <li><a href="blog.html">آخرین اخبار</a></li>
                            <li><a href="#">پشتیبانی</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right-area border-bot pt-40">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <h5>کپی رایت@ 2021 <a href="https://www.mellatweb.com/">میلاد و بهمن</a>. تمامی حقوق محفوظ است</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer-area end-->
{% endblock footer %}