{% load static %}

<section class="great-deal-area pt-150 pb-90 pt-md-100 pb-md-40 pt-xs-100 pb-xs-40">
   <div class="container">
       <div class="row justify-content-lg-center justify-content-start">
           <div class="col-xl-3 col-lg-8">
               <div class="deal-box mb-30 text-center text-xl-start">
                   <h2 class="mb-20"><b>تخفیف</b> ویژه شما</h2>
                   <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
               </div>
           </div>
           <div class="col-xl-8">
               <div class="deal-active owl-carousel mb-30">
                    <div class="single-item">
                        <div class="single-box mb-30">
                            <div class="single-box__icon mb-25">
                                <img src="{% static '' %}assets/img/icon/puzzle.svg" alt="">
                            </div>
                            <h4 class="sub-title mb-20">یادگیری مهارت جدید</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="single-box s-box2 mb-30">
                            <div class="single-box__icon mb-25">
                                <img src="{% static '' %}assets/img/icon/manager.svg" alt="">
                            </div>
                            <h4 class="sub-title mb-20">مربیان خبره</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="single-box s-box3 mb-30">
                            <div class="single-box__icon mb-25">
                                <img src="{% static '' %}assets/img/icon/notepad.svg" alt="">
                            </div>
                            <h4 class="sub-title mb-20">درس آزمایشی رایگان</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="single-box mb-30">
                            <div class="single-box__icon mb-25">
                                <img src="{% static '' %}assets/img/icon/puzzle.svg" alt="">
                            </div>
                            <h4 class="sub-title mb-20">یادگیری مهارت جدید</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="single-box s-box2 mb-30">
                            <div class="single-box__icon mb-25">
                                <img src="{% static '' %}assets/img/icon/manager.svg" alt="">
                            </div>
                            <h4 class="sub-title mb-20">مربیان خبره</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                        </div>
                    </div>
               </div>
           </div>
       </div>
   </div>
</section>
