{% load static %}
{% block header %}
 <header>
        <div id="theme-menu-one" class="main-header-area pl-100 pr-100 pt-20 pb-15">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-5">
                        <div class="logo"><a href="{% url 'course:home_view' %}"><img src="{% static '' %}assets/img/logo/header_logo_one.svg" alt=""></a></div>
                    </div>
                    <div class="col-xl-7 col-lg-8 d-none d-lg-block">
                        <nav class="main-menu navbar navbar-expand-lg justify-content-center">
                            <div class="nav-container">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown mega-menu">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            همه دسته بندی ها
                                            </a>
                                            <ul class="dropdown-menu submenu mega-menu__sub-menu-box" aria-labelledby="navbarDropdown">
                                                <li><a href="index.html"><span><img src="{% static '' %}assets/img/icon/icon7.svg" alt=""></span> تجاری</a></li>
                                                <li><a href="index-2.html"><span><img src="{% static '' %}assets/img/icon/icon8.svg" alt=""></span> فناوری</a></li>
                                                <li><a href="index.html"><span><img src="{% static '' %}assets/img/icon/icon9.svg" alt=""></span> توسعه</a></li>
                                                <li><a href="index-2.html"><span><img src="{% static '' %}assets/img/icon/icon10.svg" alt=""></span> عکاسی</a></li>
                                                <li><a href="index.html"><span><img src="{% static '' %}assets/img/icon/icon11.svg" alt=""></span> بازاریابی</a></li>
                                                <li><a href="index-2.html"><span><img src="{% static '' %}assets/img/icon/icon12.svg" alt=""></span> برنامه نویسی</a></li>
                                                <li><a href="index.html"><span><img src="{% static '' %}assets/img/icon/icon14.svg" alt=""></span> فیلمبرداری</a></li>
                                                <li><a href="index-2.html"><span><img src="{% static '' %}assets/img/icon/icon13.svg" alt=""></span> تصویر</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown active">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                خانه
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                                <li><a class="dropdown-item" href="index.html">خانه 1</a></li>
                                                <li><a class="dropdown-item" href="index-2.html">خانه 2</a></li>
                                                <li><a class="dropdown-item" href="index-3.html">خانه 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                                <li><a class="dropdown-item" href="about.html">درباره ما</a></li>
                                                <li><a class="dropdown-item" href="courses.html">دوره یک</a></li>
                                                <li><a class="dropdown-item" href="courses-2.html">دوره دو</a></li>
                                                <li><a class="dropdown-item" href="course-details.html">جزئیات دوره ها</a></li>
                                                <li><a class="dropdown-item" href="price.html">قیمت</a></li>
                                                <li><a class="dropdown-item" href="instructor.html">مدرس</a></li>
                                                <li><a class="dropdown-item" href="instructor-profile.html">پروفایل مدرس</a></li>
                                                <li><a class="dropdown-item" href="faq.html">سوالات متداول</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                وبلاگ
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                                <li><a class="dropdown-item" href="blog.html">وبلاگ گرید</a></li>
                                                <li><a class="dropdown-item" href="blog-details.html">جزئیات وبلاگ</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html" id="navbarDropdown5" role="button"  aria-expanded="false">تماس</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-7">
                        <div class="right-nav d-flex align-items-center justify-content-end">
                            <div class="right-btn mr-25 mr-xs-15">
                                <ul class="d-flex align-items-center">

                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'account:profile' user_id=request.user.id %}" class="theme_btn free_btn">حساب کاربری</a></li>
                                        <li><a class="user-profile-header"><img src="{{ request.user.profile_image.url }}" alt=""></a></li>
                                    {% else %}
                                        <li><a href="{% url 'account:login' %}" class="theme_btn free_btn">حساب کاربری</a></li>
                                        <li><a class="sign-in ml-20"><img src="{% static '' %}assets/img/icon/user.svg" alt=""></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="hamburger-menu d-md-inline-block d-lg-none text-right">
                                <a href="javascript:void(0);">
                                    <i class="far fa-bars"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.theme-main-menu -->
    </header>
{% endblock header %}