{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--slider-area start-->
    {% include 'base/slider.html' %}
    <!--slider-area end-->

    <!--great-deal-area start-->
    {% include 'base/great_deal.html' %}
    <!--great-deal-area end-->

    <!--what-looking-for start-->
    {% include 'base/what_looking.html' %}
    <!--what-looking-for end-->

    <!-- case-gallery start -->
    {% include 'course/courses.html' %}
    <!-- case-gallery end -->

<!-- why-chose-section-wrapper start -->
<div class="why-chose-section-wrapper gradient-bg mr-100 ml-100">
    <!-- why-chose-us start -->
    <section class="why-chose-us">
        <div class="why-chose-us-bg pt-150 pb-175 pt-md-95 pb-md-90 pt-xs-95 pb-xs-90">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="chose-img-wrapper mb-50 pos-rel">
                            <div class="coures-member">
                                <h5>کل دانش آموزان</h5>
                                <img class="choses chose_01" src="{% static '' %}assets/img/chose/01.png" alt="Chose-img">
                                <img class="choses chose_02" src="{% static '' %}assets/img/chose/02.png" alt="Chose-img">
                                <img class="choses chose_03" src="{% static '' %}assets/img/chose/03.png" alt="Chose-img">
                                <img class="choses chose_04" src="{% static '' %}assets/img/chose/04.png" alt="Chose-img">
                                <span>25k+</span>
                            </div>
                            <div class="feature tag_01"><span><img src="{% static '' %}assets/img/icon/shield-check.svg" alt=""></span> امن و دقیق</div>
                            <div class="feature tag_02"><span><img src="{% static '' %}assets/img/icon/catalog.svg" alt=""></span> 120+ کاتالوگ</div>
                            <div class="feature tag_03"><span><i class="fal fa-check"></i></span> آموزش با کیفیت</div>
                            <div class="video-wrapper">
                                <a href="https://www.youtube.com/watch?v=7omGYwdcS04" class="popup-video"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="img-bg pos-rel">
                                <img class="chose_05 pl-70 pl-lg-0 pl-md-0 pl-xs-0" src="{% static '' %}assets/img/chose/05.png" alt="Chose-img">
                            </div>
                            <img class="chose chose_06" src="{% static '' %}assets/img/shape/dot-box3.svg" alt="Chose-img">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="chose-wrapper pl-25 pl-lg-0 pl-md-0 pl-xs-0">
                            <div class="section-title mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <h5 class="bottom-line mb-25">کاوش زومی</h5>
                                <h2 class="mb-25">چرا انتخاب ما؟</h2>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                            </div>
                            <ul class="text-list mb-40 wow fadeInUp2 animated" data-wow-delay='.2s'>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</li>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</li>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</li>
                            </ul>
                            <a href="about.html" class="theme_btn wow fadeInUp2 animated" data-wow-delay='.3s'>جزئیات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- why-chose-us end -->
    <!-- course-instructor start -->
    <section class="course-instructor nav-style-two pos-rel">
        <div class="course-blur-shape"></div>
        <div class="course-bg-space pt-150 pb-120 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-9">
                        <div class="section-title text-center text-md-start mb-60">
                            <h5 class="bottom-line mb-25">مربی ما</h5>
                            <h2 class="mb-25">کاوش مربی با تجربه</h2>
                        </div>
                    </div>
                </div>
                <div class="instructor-active owl-carousel">
                    <div class="item">
                        <div class="z-instructors text-center mb-30">
                            <div class="z-instructors__thumb mb-15">
                                <img src="{% static '' %}assets/img/instructor/01.jpg" alt="">
                                <div class="social-media">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="z-instructors__content">
                                <h4 class="sub-title mb-10"><a href="instructor-profile.html">جان زلاتان</a></h4>
                                <p>توسعه نرم افزار</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="z-instructors text-center mb-30">
                            <div class="z-instructors__thumb mb-15">
                                <img src="{% static '' %}assets/img/instructor/02.jpg" alt="">
                                <div class="social-media">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="z-instructors__content">
                                <h4 class="sub-title mb-10"><a href="instructor-profile.html">مالی یان</a></h4>
                                <p>طراح</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="z-instructors text-center mb-30">
                            <div class="z-instructors__thumb mb-15">
                                <img src="{% static '' %}assets/img/instructor/03.jpg" alt="">
                                <div class="social-media">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="z-instructors__content">
                                <h4 class="sub-title mb-10"><a href="instructor-profile.html">مسعود لامب</a></h4>
                                <p>برنامه نویس</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="z-instructors text-center mb-30">
                            <div class="z-instructors__thumb mb-15">
                                <img src="{% static '' %}assets/img/instructor/04.jpg" alt="">
                                <div class="social-media">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="z-instructors__content">
                                <h4 class="sub-title mb-10"><a href="instructor-profile.html">هاوانا لیون</a></h4>
                                <p>بازاریابی دیجیتال</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="z-instructors text-center mb-30">
                            <div class="z-instructors__thumb mb-15">
                                <img src="{% static '' %}assets/img/instructor/01.jpg" alt="">
                                <div class="social-media">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="z-instructors__content">
                                <h4 class="sub-title mb-10"><a href="instructor-profile.html">جان زلاتان</a></h4>
                                <p>توسعه نرم افزار</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="z-instructors text-center mb-30">
                            <div class="z-instructors__thumb mb-15">
                                <img src="{% static '' %}assets/img/instructor/02.jpg" alt="">
                                <div class="social-media">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="z-instructors__content">
                                <h4 class="sub-title mb-10"><a href="instructor-profile.html">مالی یان</a></h4>
                                <p>طراح</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- course-instructor end -->
</div>
<!-- why-chose-section-wrapper start -->
<!-- testimonial-area start -->
<section class="testimonial-area testimonial-pad pt-150 pb-120 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70">
    <div class="container custom-container-testimonial">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="section-title text-center text-md-start mb-35">
                    <h5 class="bottom-line mb-25">مربی ما</h5>
                    <h2 class="mb-25">کاوش مربی با تجربه</h2>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <a href="instructor.html" class="theme_btn">خواندن همه</a>
            </div>
        </div>
        <div class="row testimonial-active-01">
            <div class="col-xl-3">
                <div class="item">
                <div class="testimonial-wrapper mb-30">
                    <div class="testimonial-authors overflow-hidden mb-15">
                        <div class="testimonial-authors__avatar">
                              <img  src="{% static '' %}assets/img/testimonial/01.png" alt="testi-author">
                        </div>
                        <div class="testimonial-authors__content mt-10">
                            <h4 class="sub-title">جورجیا لیلا</h4>
                            <p>توسعه دهنده </p>
                        </div>
                    </div>
                    <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    <div class="quote-icon mt-20">
                        <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xl-3">
                 <div class="item">
                    <div class="testimonial-wrapper mb-30">
                        <div class="testimonial-authors overflow-hidden mb-15">
                            <div class="testimonial-authors__avatar">
                                <img  src="{% static '' %}assets/img/testimonial/02.png" alt="testi-author">
                            </div>
                            <div class="testimonial-authors__content mt-10">
                                <h4 class="sub-title">جان دی</h4>
                                <p>رابط کاربری</p>
                            </div>
                        </div>
                        <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        <div class="quote-icon mt-20">
                            <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="item">
                    <div class="testimonial-wrapper mb-30">
                        <div class="testimonial-authors overflow-hidden mb-15">
                            <div class="testimonial-authors__avatar">
                                <img  src="{% static '' %}assets/img/testimonial/03.png" alt="testi-author">
                            </div>
                            <div class="testimonial-authors__content mt-10">
                                <h4 class="sub-title">مایکل جورج</h4>
                                <p>نویسنده محتوا</p>
                            </div>
                        </div>
                        <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        <div class="quote-icon mt-20">
                            <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                 <div class="item">
                    <div class="testimonial-wrapper mb-30">
                        <div class="testimonial-authors overflow-hidden mb-15">
                            <div class="testimonial-authors__avatar">
                                <img  src="{% static '' %}assets/img/testimonial/01.png" alt="testi-author">
                            </div>
                            <div class="testimonial-authors__content mt-10">
                                <h4 class="sub-title">جورجیا لیلا</h4>
                                <p>توسعه دهنده </p>
                            </div>
                        </div>
                        <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        <div class="quote-icon mt-20">
                            <img src="{% static '' %}assets/img/icon/quote.svg" alt="quote-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-area end -->
<!-- blog-area start -->
<section class="blog-area mr-100 ml-100">
    <div class="blog-bg gradient-bg pl-100 pr-100 pt-150 pb-120 pt-md-100 pb-md-70 pt-xs-100 pb-xs-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-60">
                        <h5 class="bottom-line mb-25">آخرین خبرها</h5>
                        <h2 class="mb-25">آخرین اخبار و آموزش های ما</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="z-blogs mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="z-blogs__thumb mb-30">
                        <a href="blog-details.html"><img src="{% static '' %}assets/img/blog/01.jpg" alt="blog-img"></a>
                        </div>
                        <div class="z-blogs__content">
                            <h5 class="mb-25">برخط . مدرسه . مهارت</h5>
                            <h4 class="sub-title mb-15"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></h4>
                            <div class="z-blogs__meta d-sm-flex justify-content-between pt-20">
                                <span>تاریخ : 2 دی 1400</span>
                                <span>توسط مدیریت</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="z-blogs mb-30 wow fadeInUp2 animated" data-wow-delay='.2s'>
                        <div class="z-blogs__thumb mb-30">
                        <a href="blog-details.html"><img src="{% static '' %}assets/img/blog/02.jpg" alt="blog-img"></a>
                        </div>
                        <div class="z-blogs__content">
                            <h5 class="mb-25">تحصیلات . کارشناس</h5>
                            <h4 class="sub-title mb-15"><a href="blog-details.html">4 ویژگی جدید زوم، آموزش و یادگیری مجازی را بهبود می بخشد</a></h4>
                            <div class="z-blogs__meta d-sm-flex justify-content-between pt-20">
                                <span>تاریخ : 2 دی 1400</span>
                                <span>توسط مدیریت</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="z-blogs mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="z-blogs__thumb mb-30">
                        <a href="blog-details.html"><img src="{% static '' %}assets/img/blog/03.jpg" alt="blog-img"></a>
                        </div>
                        <div class="z-blogs__content">
                            <h5 class="mb-25">خلاق . برنامه نویس</h5>
                            <h4 class="sub-title mb-15"><a href="blog-details.html">استفاده از رسانه های اجتماعی برای حمایت از آموزش آنلاین</a></h4>
                            <div class="z-blogs__meta d-sm-flex justify-content-between pt-20">
                                <span>تاریخ : 2 دی 1400</span>
                                <span>توسط مدیریت</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center mt-20 mb-30 wow fadeInUp2 animated" data-wow-delay='.4s'>
                    <a href="blog-details.html" class="theme_btn">بارگذاری بیشتر</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-area end -->
<!-- subscribe-area start -->
<section class="subscribe-area border-bot pt-145 pb-50 pt-md-90 pt-xs-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="subscribe-wrapper text-center mb-30">
                    <h2>در خبرنامه ما مشترک شوید و همه به روز رسانی ها را دریافت کنید.</h2>
                   <div class="subscribe-form-box pos-rel">
                        <form class="subscribe-form">
                            <input type="text" placeholder="ایمیل شما">
                        </form>
                        <button class="sub_btn">اشتراک</button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe-area end -->
{% endblock content %}