{% load static %}

<section class="what-looking-for pos-rel">
   <div class="what-blur-shape-one"></div>
   <div class="what-blur-shape-two"></div>
   <div class="what-look-bg gradient-bg pt-145 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-55">
                        <h5 class="bottom-line mb-25">معلمان و دانش آموزان</h5>
                        <h2>دنبال چه می گردی؟</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-85">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="what-box text-center mb-35 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="what-box__icon mb-30">
                            <img src="{% static '' %}assets/img/icon/phone-operator.svg" alt="">
                        </div>
                        <h3>میخوای اینجا تدریس کنی؟</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                        <a href="contact.html" class="theme_btn border_btn">ثبت نام</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="what-box text-center mb-35 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="what-box__icon mb-30">
                            <img src="{% static '' %}assets/img/icon/graduate.svg" alt="">
                        </div>
                        <h3>آیا می خواهید اینجا یاد بگیرید؟</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                        <a href="contact.html" class="theme_btn border_btn active">ثبت نام</a>
                    </div>
                </div>
            </div>
            <div class="categoris-container">
                <div class="col-xl-12">
                    <div class="section-title text-center mb-55">
                        <h5 class="bottom-line mb-25">دسته بندی ها</h5>
                        <h2>موضوعات آنلاین ما را کاوش کنید</h2>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-5">
                    <div class="col">
                        <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <img class="mb-30" src="{% static '' %}assets/img/category-icon/atom.svg" alt="">
                            <h4 class="sub-title mb-10"><a href="course-details.html">علم</a></h4>
                            <p>126+ دوره در دسترس</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.2s'>
                            <img class="mb-30" src="{% static '' %}assets/img/category-icon/web-development.svg" alt="">
                            <h4 class="sub-title mb-10"><a href="course-details.html">توسعه</a></h4>
                            <p>325+ دوره در دسترس</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                            <img class="mb-30" src="{% static '' %}assets/img/category-icon/atom.svg" alt="">
                            <h4 class="sub-title mb-10"><a href="course-details.html">علم</a></h4>
                            <p>95+ دوره در دسترس</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.4s'>
                            <img class="mb-30" src="{% static '' %}assets/img/category-icon/career-path.svg" alt="">
                            <h4 class="sub-title mb-10"><a href="course-details.html">حرفه</a></h4>
                            <p>156+ دوره در دسترس</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="single-category text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.5s'>
                            <img class="mb-30" src="{% static '' %}assets/img/category-icon/graphic-tool.svg" alt="">
                            <h4 class="sub-title mb-10"><a href="course-details.html">هنر و طراحی</a></h4>
                            <p>136+ دوره در دسترس</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 mt-20 text-center mb-20 wow fadeInUp2 animated" data-wow-delay='.6s'>
                        <a href="courses.html" class="theme_btn">همه دسته بندی ها</a>
                    </div>
                </div>
            </div>
        </div>
   </div>
</section>