{% extends 'base.html' %}

{% block content %}

    <section class="feature-course pt-150 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-8">

        {#  <img src="{{ user.profile_image.url }}" alt="" width="100px" height="100px">#}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8">

            <title>user profile</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
            <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        </head>
        <body>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="profile-nav col-md-3">
                    <div class="panel">
                        <div class="user-heading round">
                            <a href="#">
                                <img src="{{ user.profile_image.url }}" alt="">
                            </a>
                            <h1>{{ user.username }}</h1>
                        </div>
                        {% include 'account/option_menuProfile.html' %}
                    </div>
                </div>
                <div class="profile-info col-md-9">

                    <div class="panel">
                        <div class="bio-graph-heading">

                        </div>
                        <div class="panel-body bio-graph-info">
                                          <h1>دوره های خریداری شده من</h1>
                            <div class="row">
                                <section class="content">
                                    <div class="container-fluid">

                                        <!-- /.row -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title"></h3>


                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body table-responsive p-0">
                                                        <table class="table table-hover">
                                                            <tbody>
                                                            <tr>
                                                                <th>عنوان دوره آموزشی</th>
                                                                <th>وضعیت</th>
                                                                <th>تاریخ ثبت نام</th>
                                                            </tr>
                                                            {% for course in my_course %}
                                                            <tr>
                                                                <td>{{ course.title }}</td>
                                                                <td><span class="badge badge-primary">تایید شده</span>
                                                                </td>
                                                                <td>{{ course.jpublish }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->
                                            </div>
                                        </div><!-- /.row -->
                                    </div><!-- /.container-fluid -->
                                </section>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style type="text/css">
            {% include 'shared/cssfile.css' %}
        </style>

        <script type="text/javascript">

        </script>
        </body>
        </html>

    </section>

{% endblock %}