{% extends 'base.html' %}
{% load static %}

{% block content %}

<section style="margin: 40px" class="feature-course pt-150 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-8">
    <h1>Cart</h1>
    <br>
    <h5>تعداد سبد خرید<span> {{ order.get_cart_items }}</span></h5>
    <h5>مجموع خرید<span> {{ order.get_cart_total }}</span></h5>

    {% for item in items %}
        <img width="100px" height="100px" src="{{ item.course.image.url }}">
        <h5>عنوان</h5>{{ item.course.title }}
        <h5>قیمت</h5>{{ item.course.price }} <br>
        <img class="update-cart" data-course="{{ item.course.id }}" data-action="remove" src="{% static '' %}assets/img/icon/remove_item.png"/>

        <p>---------------------</p>
    {% endfor %}

    <br>
    <a class="btn btn-success" href="{% url 'order:checkout' %}">Checkout</a>
</section>

<script src="{% static 'main/js/cart.js' %}" type="text/javascript"></script>
{% endblock %}