{% extends 'base.html' %}

{% block content %}

<section class="feature-course pt-150 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-8">
    <h1>Checkout</h1>
<div class="row" style="margin: 40px">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form action="{% url 'order:placeorder' %}" method="POST">
                    {% csrf_token %}
					<div id="user-info">
						<div class="form-field">
							<input class="form-control" type="text" name="order_note" placeholder="Order Note ...">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Zip code..">
						</div>
					</div>

					<hr>

                    <button type="submit" class="btn btn-success btn-block"> Place Order</button>
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<!--<button id="make-payment">Make payment</button>-->
				<div id="paypal-button-container"></div>
			</div>

		</div>




            <div class="col-lg-6">
			<div class="box-element">
				<a class="btn btn-outline-dark" href="{% url 'order:cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in cartitem %}
				<div class="cart-row">
					<div style="flex:2"><img width="100px" height="100px" class="row-image" src="{{item.course.image.url}}"></div>
					<div style="flex:2"><p>{{item.course.title}}</p></div>
					<div style="flex:1"><p>{{item.course.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{% endfor %}
{#				<h5>Items:   {{order.get_cart_items}}</h5>#}
{#				<h5>Total:   {{order.get_cart_total|floatformat:2}}</h5>#}
			</div>
		</div>

	</div>
</section>

{% endblock %}