{% load static  %}
  <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static '' %}assets/fonts/fontawesome/fontawesome.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="{% static '' %}assets/libs/quill/dist/quill.core.css" />

    <!-- Map -->
    <link href='../../../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">

