{% extends 'shared/HomeBase.html' %}

{% block title %}  {% endblock %}
{% block keyword %} {% endblock keyword %}
{% block description %} {% endblock description %}

{% block header %} {% include 'shared/header.html' %} {% endblock header %}
{% block navbar %} {% include 'shared/navbar.html' %} {% endblock navbar %}
{% block content %} {% include 'shared/content.html' %} {% endblock %}
{% block blog %} {% include 'shared/blog.html' %}{% endblock %}
{% block category %} {% include 'shared/category_content.html' %} {% endblock %}
{% block footer %} {% include 'shared/footer.html' %} {% endblock %}