{% extends 'Shared/HomeBase.html' %}

{% block title %}  {% endblock %}
{% block keyword %} {% endblock keyword %}
{% block description %} {% endblock description %}

{% block header %} {% include 'Shared/header.html' %} {% endblock header %}
{% block navbar %} {% include 'Shared/navbar.html' %} {% endblock navbar %}
{% block content %} {% include 'Shared/Content.html' %} {% endblock %}
{% block blog %} {% include 'Shared/Blog.html' %}{% endblock %}
{% block category %} {% include 'Shared/category_content.html' %} {% endblock %}
{% block footer %} {% include 'Shared/footer.html' %} {% endblock %}