/*rtl mellatweb*/

@font-face {

	font-family: iranyekan;
	font-style: normal;

	font-weight: bold;

	src: url('fonts/eot/iranyekanwebbold.eot');

	src: url('fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */

		 url('fonts/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

		 url('fonts/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

		 url('fonts/ttf/iranyekanwebbold.ttf') format('truetype');

}
@font-face {

	font-family: iranyekan;

	font-style: normal;

	font-weight: 300;

	src: url('fonts/eot/iranyekanweblight.eot');

	src: url('fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */

		 url('fonts/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

		 url('fonts/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

		 url('fonts/ttf/iranyekanweblight.ttf') format('truetype');

}
@font-face {

	font-family: iranyekan;

	font-style: normal;

	font-weight: normal;

	src: url('fonts/eot/iranyekanwebregular.eot');

	src: url('fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */

		 url('fonts/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

		 url('fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

		 url('fonts/ttf/iranyekanwebregular.ttf') format('truetype');

}

@font-face {

	font-family: iranyekan;

	font-style: normal;

	font-weight: bold;

	src: url('fonts/eot/iranyekanwebbold(fanum).eot');

	src: url('fonts/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */

		 url('fonts/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

		 url('fonts/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

		 url('fonts/ttf/iranyekanwebbold(fanum).ttf') format('truetype');

}
@font-face {

	font-family: iranyekan;

	font-style: normal;

	font-weight: 300;

	src: url('fonts/eot/iranyekanweblight(fanum).eot');

	src: url('fonts/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */

		 url('fonts/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

		 url('fonts/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

		 url('fonts/ttf/iranyekanweblight(fanum).ttf') format('truetype');

}
@font-face {

	font-family: iranyekan;

	font-style: normal;

	font-weight: normal;

	src: url('fonts/eot/iranyekanwebregular(fanum).eot');

	src: url('fonts/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */

		 url('fonts/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

		 url('fonts/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

		 url('fonts/ttf/iranyekanwebregular(fanum).ttf') format('truetype');

}

/**IranYekan>>*/  a,body,h1,h2,h3,h4,h5,h6,p,.button, button, input, textarea,.pricing-table .title  {font-family:iranyekan! important; direction: rtl;}
.slick-list.draggable {
    direction: ltr;
}
.testimonial-wrapper.mb-30 {
    direction: rtl;
}
.coures-member{
        padding: 20px 20px 20px 30px;
        right: -32px;
        left: auto;
    }    
.testimonial-authors__avatar {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}
.feature.tag_01 {
    left: auto;
    top: 60px;
    right: -32px;
}
.feature span {
    margin-right: 0;
    margin-left: 23px;
}
.feature.tag_02 {
    left: 10px;
    right: auto;
}
.chose-img-wrapper .chose.chose_06 {
    left: 40px;
    right: auto;
}
.feature.tag_03 {
    right: 128px;
    left: auto;
}
.pl-70 {
    padding-right: 70px;
    padding-left: 0;
}
.coures-member span {
    left: 20px;
    right: auto;

}
.coures-member .choses.chose_04 {
    left: 55px;
    right: auto;
}
.coures-member .choses.chose_02 {
    transform: translateX(25px);
}
.coures-member .choses.chose_03 {
    transform: translateX(50px);
}
.text-list li {
    padding-right: 35px;
    padding-left: 0;
}
.text-list li::before {
    right: 0;
    left: auto;
}
.subscribe-form-box .sub_btn {
    left: 5px;
    right: AUTO;
}
#scrollUp {
    left: 15px;
    right: AUTO;
}
.pl-150 {
    padding-right: 150px;
    padding-left: 0;
}
.pl-90 {
    padding-right: 90px;
    padding-left: 0;
}
.pl-40 {
    padding-right: 40px;
    padding-left: 0;
}
.subscribe-form input {
    padding-right: 40px;
    padding-left: 0;
}
.slide-bar {
    left: -370px;
    right: auto;
}
.owl-nav {
    right: -330px;
    left: auto;
}
.side-mobile-menu ul li ul li {
    padding-right: 15px;
    padding-left: 0;
}
.side-mobile-menu ul li ul li a:before {
    right: 0;
    left: auto;
}
.side-mobile-menu ul li ul li a {
    padding-right: 15px;
    padding-left: 0;
}
@media (max-width: 767px){
.slider__img__box {    padding-left: 0 !important;
}
img.slide-shape.img-six {
    display: none;
}
.slide-bar.show {
    left: 0;
    right: AUTO;
}
.mr-xs-15 {
    margin-left: 15px;
    margin-right: 0;
}
.search__area li .search_btn {
    margin-right: 0;
    margin-left: 0;
}
.chose-img-wrapper .chose_05 {
    padding-right: 0;
}
.pl-xs-0 {
    padding-right: 0 !important;
}
.course__meta span {
    margin-left: 5px !important;
}
}
.z-gallery__thumb .heart-icon {
    left: 20px;
    right: auto;
}
.z-gallery__thumb .feedback-tag {
    right: 20px;
    left: auto;
}
.nice-select {
    float: right;
    padding-right: 18px;
    padding-left: 30px;
    text-align: right !important;
}
.side-mobile-menu ul li.has-dropdown > a:after {
    left: 16px;
    right: auto;
}
.subscribe-wrapper h2 {
    font-size: 30px;
}
.section-title h2 {
    font-size: 34px;
}
.chose-img-wrapper .video-wrapper {
    left: 82px;
    right: auto;
}
.img-bg::before {
    right: 63px;
    left: auto;
}
.course__meta span {
    margin-left: 20px;
    margin-right: 0;
}
.ml-35 {
    margin-right: 35px;
    margin-left: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
.search__area li .search_btn {
    margin-right: 87px;
}}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
.owl-nav {
    right: -288px;
    left: auto;
}
.course__meta span {
    margin-left: 4px;
    margin-right: 0;
}
}
@media (min-width: 1200px){
.text-xl-start {
    text-align: right!important;
}}
@media (min-width: 768px)
{
    .text-md-start {
        text-align: right !important;
    }
}
.nav-style-two .owl-nav {
    right: AUTO;
    left: 55px;
}
.f-right {
    float: left;
}
.course__meta span img {
    margin-left: 5px;
    margin-right: 0;
    margin-top: -6px;
}
.nice-select .option {
    padding-right: 18px;
    padding-left: 29px;
    text-align: right;
}
.main-title {
    font-size: 52px;
}
.what-box h3 {
    font-size: 25px;
}
.ml-20 {
    margin-right: 20px;
    margin-left: 0;
}
.navbar-nav .nav-item .nav-link::before {
    left: -23px;
    right: auto;
}
.dropdown-menu {
    text-align: right;
}
.navbar-nav .nav-item .nav-link {
    font-size: 17px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    direction: ltr;
}
.owl-carousel.owl-drag .owl-item {
    direction: rtl;
}
.slider__img__box .slide-shape.img-three {
    right: -108px;
    left: auto;
}
.slider__img__box .slide-shape.img-two {
    left: 68px;
    right: auto;
}
.pr-70 {
    padding-left: 70px;
    padding-right: 0;
}
.pr-30 {
    padding-left: 30px;
    padding-right: 0;
}
.slider__img__box .slide-shape.img-eight {
    right: -29px;
    left: auto;
}
.slider__img__box .slide-shape.img-five {
    left: 70px;
    right: auto;
}
.sl-shape.shape_03 {
    left: 9.21%;
    right: auto;
}
.slider__img__box .slide-shape.img-seven {
    left: -228px;
    right: auto;
    transform: rotateY(180deg);
}
.slider__img__box .slide-shape.img-four {
    right: 0;
    left: auto;
}
img.slide-shape.img-six {
    transform: rotateY(180deg);
}
.widget__search .search-icon {
    right: 25px;
    left: auto;
    top: 57%;
}
.widget__search .input-form input {
    padding-right: 55px;
    padding-left: 0;
}
.widget__select .nice-select::before {
    right: 72px;
    left: auto;
}
.widget__select .nice-select .current {
    padding-right: 80px;
    padding-left: 0;
}
.slider-img-box-two .feature.tag_01 {
    right: -12px;
    left: AUTO;
}
.slider-img-box-two .coures-member {
    left: -184px;
    right: auto;
}
.slider-img-box-two .shape-avatar-bg {
    right: 30px;
    left: auto;
}
.slider-img-box-two .feature.tag_03 {
    right: auto;
    left: -210px;
}
.slider__content__02 .left-line::before {
    right: 0;
    left: auto;
}
.slider-img-box-two .chose-img-wrapper .chose_05 {
    margin-right: -37px;
    margin-left: 0;
}
.slider-img-box-two .chose-img-wrapper .chose_06 {
    right: -74px;
    left: auto;
}
.slider-img-box-two .chose-img-wrapper .video-wrapper {
    left: auto;
    right: 62px;
}
.course__cat__list li a .arrows-icon-white {
    margin-right: 30px;
    margin-left: 0;
    transform: rotate(180deg) !important;
}
.course__cat__list li a .arrows-icon {
    margin-right: 30px;
    margin-left: 0;
    transform: rotate(180deg) !important;
}
.course__cat__list li a span {
    margin-left: 20px;
    margin-right: 0;
}
.section-title-2 .left-line::before {
    right: -3px;
    left: inherit;
}

@media (min-width: 1200px){
.text-xl-end {
    text-align: left !important;
}}
.z-gallery__content .price-tag {
    left: 20px;
    right: auto;
}
.course__tag__two span {
    margin-left: 5px;
    margin-right: 0;
}
.ml-10 {
    margin-right: 10px;
    margin-left: 0;
}
.course__authors p {
    border-right: 1px solid rgba(27, 33, 47, 0.1);
    border-left: 0;
    padding-right: 33px;
    padding-left: 0;
}
.video__content {
    right: -12px;
    left: auto;
    direction: rtl;
}
.popular-videos-wrapper .video__thumb .popup-video {
    right: auto;
    left: 30px;
}
.video__thumb .popup-video {
    right: 18px;
    left: auto;
}
.s-box-2 .single-box__icon {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.pl-75 {
    padding-right: 75px;
    padding-left: 0;
}
.accordion .accordion-button::after {
    right: 25px;
    left: auto;
}
.mr-5 {
    margin-left: 5px;
    margin-right: 0;
}
@media (min-width: 768px){
.text-md-end {
    text-align: left !important;
}}
@media (min-width: 992px){
.text-lg-end {
    text-align: left !important;
}}
.footer__widget.footer__widget__two.mb-30 {
    /* direction: revert; */
    visibility: visible;
}

.footer-area-2 .footer-blur-bg {
    left: 20.57%;
    right: auto;
}
.footer-area-2::before {
    left: 20.57%;
    right: auto;
}
@media (max-width: 767px){
.faq-que-list {
    padding-right: 0 !important;
}}
.online__course__cat .courses_link .arrows-icon {
    transform: rotate(180deg);
}
.slider__content__03 .main-title {
    font-size: 50px;
}
.gallery-03 .z-gallery__thumb .heart-icon {
    left: 30px;
    right: auto;
}
.research-tag {

    right: 30px;
    left: auto;
}
.float-end {
    float: left !important;
}
.chose-round-bg::before {
    left: 190px;
    right: AUTO;
}
.chose-img-wrapper-03.chose-img-full {
    margin-right: 75px;
    margin-left: 0;
}
.chose-img-wrapper-03 .feature span {
    right: -15px;
    left: auto;
}
.chose-img-wrapper-03 .feature.tag_01 {
    right: 179px;
    left: auto;
}
.chose-img-wrapper-03 .feature.tag_03 {
    right: -75px;
    left: inherit;
}
.chose-img-wrapper-03 .feature {
    padding: 25px 30px 25px 25px;
}
.z-instructors-02 .z-instructors__content p span {
    border-right: 1px solid #ffffff;
    border-left: 0;
    padding-right: 15px;
    padding-left: 0;
    margin-right: 15px;
    margin-left: 0;
}
.pr-50 {
    padding-left: 50px;
    padding-right: 0;
}
@media (min-width: 992px){
.text-lg-start {
    text-align: right !important;
}}
.sub-form-2 input {
    margin-right: 65px;
    margin-left: 0;
}
.z-blogs-3 .blog__tags span {
    margin-left: 7px;
    margin-right: 0;
}
.slider-img-area::before {
    right: -70px;
    left: auto;
}
@media (max-width: 767px){
.chose-img-wrapper-03.chose-img-full {
    margin-right: 0 !important;
}}
.footer-area .footer-blur {
    left: 0;
    right: AUTO;
}
@media (max-width: 767px){
.sub-form-2 input {
    margin-right: 0 !important;
}}
.pl-110 {
    padding-right: 110px;
    padding-left: 0;
}
.theme_btn {
    padding: 18px 25px;
}
.sub-title {
    font-family: inherit;
}
.price-list .sub-title {
    margin-right: 10px;
    margin-left: 0;
}
.cart-list-tag li {
    margin-left: 10px;
    margin-right: 0;
}
.learn-list li {
    padding-left: 55px;
    padding-right: 0;
}
.learn-list {
    margin-left: 20px;
    margin-right: 0;
}
.learn-list li a .play-video {
    margin-left: 8px;
    margin-right: 0;
}
.seller-rating li:first-child {
    margin-left: 20px;
    margin-right: 0;
}
.seller-rating li:last-child {
    margin-right: 90px;
    margin-left: 0;
}
.project-details h5 span {
    color: #1B212F;
    margin-left: 20px;
    margin-right: 0;
}
.date-lang span:first-child {
    margin-left: 45px;
    margin-right: 0;
}
.teachers-content .teacher_01 {
    float: right;
    margin-left: 24px;
    margin-right: 0;
}
.courses-item li img {
    margin-left: 12px;
    margin-right: 0;
}
.courses-ingredients {
    margin-right: 75px;
    margin-left: 0;
}
@media (max-width: 767px){
.learn-list {
    margin-left: 5px !important;
}
.seller-rating li:last-child {
    margin-right: 5px !important;
}
.courses-ingredients {
    margin-right: 0 !important;
}
}
.plan .pr__body .price-list li::before {
    right: 0;
    left: auto;
}
.plan .pr__body .price-list li {
    padding-right: 42px;
    padding-left: 0;
}
.plan .pr__body .price-list {
    text-align: right;
}
.total-stu img {
    margin-left: 5px;
    margin-right: 5px;
}
.profile-list li {
    float: right;
}
.work-progress li {
    margin-left: 25px;
    margin-right: 0;
}
.accordion-two .accordion-body p {
    padding: 0 21px 0 65px;
}
.accordion-two .accordion-button {
    padding-right: 10px;
    padding-left: 0;
}
.accordion-two .accordion-button::after {
    right: auto !important;
    left: 25px !important;
}
.blog-details-box .blogs__meta li {
    margin-left: 40px;
    margin-right: 0;
}
.blog-details-box .blogs__meta span img {
    margin-left: 7px;
    margin-right: 0;
}
.blog-quote-box .quote-icon {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.blog-quote-box {
    padding: 30px 40px 30px 80px;
}
.blog-details-list li {
    padding-right: 28px;
    padding-left: 0;
}
.blog-details-list li::before {
    right: 0;
    left: 0;
}
.comments__author img {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.single-comments {
    padding: 30px 20px 30px 50px;
}
.ml-90 {
    margin-right: 90px;
    margin-left: 0;
}
.comments-form input {
    padding-right: 30px;
    padding-left: 0;
}
.comments-form textarea {
    padding-right: 30px;
    padding-left: 0;
}
.widget .sub-title {
    padding-right: 20px;
    padding-left: 0;
}
@media (max-width: 767px){
.blog-quote-box {
    padding: 30px 15px 30px 15px !important;
}
.single-comments {
    padding: 30px 15px 30px 15px !important;
}
.comments__author img {
    float: none !important;
}
.ml-xs-0 {
    margin-right: 0 !important;
}
.contact-wrapper {
    padding-right: 0 !important;
}
}
.single-contact-box .contact__iocn {
    margin-left: 30px;
    margin-right: 0;
    float: right;
}
.sl-shape.shape_01 {
    right: 8.54%;
    left: auto;
}